@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: w;
    src: url(./fonts/WanoQuin-ExtraBold.otf);
}


body{
    color: #fff;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background-color: #141414;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    width: 100vw;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    z-index: 1000;
}

.navbar span{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: linear-gradient(90deg , transparent , #fff);
    animation: animate 5s infinite linear;
}


@keyframes animate {
    0%{
        left: 0;
        transform: translate(-100%);
    }
    100%{
        left: 100%;
        transform: translate(0%);
    }
}

.logo{
    text-transform: capitalize;
    font-size: 30px;
    cursor: pointer;
    font-family: w;
}

li{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
}

.menu{
    display: flex;
    gap: 5rem;
    text-transform: uppercase;
    font-weight: 100;
}


.btn{
    font-weight: 500;
    text-transform: uppercase;
}



.wrapper{
    display: flex;
}

section{
    width: 100vw;
    flex-shrink: 0;
    overflow: hidden;
}

.video-section video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -2;
    position: relative;
}

.img-container{
    position: absolute;
    top:0;
    height: 100vh;
    width: 100vw;
}


.img{
    object-fit: cover;
    height: 100%;
    width: 100%;

}



.section{
    background-color: #141414;
    padding: 7rem;
}

.boxes-container{
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.columns{
    display: flex;
    gap: 1.5rem;
    position: relative;
}

.col img{
    object-fit: cover;
}


.col-1{
    display: flex;
    gap: 1.5rem;
    flex: 5;
}
.box1 .col-1 img:first-child{
    width: 150px;
    height: 180px;
    transform: translateY(-30px);
}

.box1 .col-1 img:nth-child(2){
    width: 380px;
    height: 430px;
}

.col-3{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    flex: 4;
}

.box1 .col-3 img:first-child{
    width: 320px;
    height: 170px;

}

.box1 .col-3 img:nth-child(2){
    width: 150px;
}
.box1 .col-3 img:nth-child(3){
    width: 200px;
    height: 200px;
}

.col-2{
    margin: auto;
    flex: 1.5;
}

.col-2 h1{
    font-family: w;
    font-size: 100px;
    text-transform: capitalize;
    position: absolute;
    top: 50px;
    left: 47%;
    z-index: 100;
}
.box1 .col-2 h1{
    top: 0;
}


.col-2 span{
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing:3px;
    opacity: .7;
}


.line{
    height: 1px;
    width: 50px;
    background-color: rgba(255, 255, 255, .1);
    margin: 2rem 0;
}

.text-box p{
    font-size: 12px;
    line-height: 1.9;
    padding-bottom: 1rem;
    opacity: .7;
    
}

.box2 .col-1 img:first-child{
    width: 200px;
    height: 250px;
    transform: translateY(200px);
}


.box2 .col-1 img:nth-child(2){
    height: 380px;
    width: 300px;
}
.box2 .col-3 img:nth-child(1){
    height: 300px;
    width: 220px;
}

.box2 .col-3 img:nth-child(2){
    width: 180px;
    height: 200px;
    align-self: flex-end;
}
.box2 .col-3 img:nth-child(3){
    width: 380px;
    height: 200px;
    transform: translateX(80px);
}


.box3 .col-1{
    display: flex;
    flex-wrap: wrap;
}

.box3 .col-1 img:nth-child(1){
    width: 200px;
    height: 280px;
    transform: translateX(30px);
    
    
}
.box3 .col-1 img:nth-child(2){
    width: 180px;
    height: 200px;
    margin-left: 80px;
    align-self: center;
    
}
.box3 .col-1 img:nth-child(3){
    width: 280px;
    height: 180px;
    
}
.box3 .col-1 img:nth-child(4){
    width: 250px;
    height: 180px;
    transform: translateY(-30px);
}

.box3 .col-3 img{
    width: 400px;
    height: auto;
}

footer{
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    border-top: 1px solid rgba(255, 255, 255, .1);
}


.text-content{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title{
    font-family: w;
    width: 450px;
    position: relative;
    height: 110px;
    overflow: hidden;
}

.bg{
    font-size: 100px;
}

.sm{
    font-size: 35px;
    height: 40px;
}

.left{
    left: -25%;
}

.right{
    top: 50px;
    left: 75%;
}

.title span{
    position: absolute;
}

.n{
    z-index: -1;
    
}

.text-content p{
    transform: translateY(150px);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 12px;
    font-weight: 300;
}

.v_container{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr;

}


.left-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem;
    gap: 5rem;
}

.tv{
    font-family: w;
    display: flex;
    text-transform: capitalize;
}

.bottom{
    transform: translateY(70px);
}



.text-container{
    max-width: 260px;
}

.text-container p{
    padding-bottom: 1rem;
    line-height: 1.4;
    opacity: .8;
}


.right-side{
    
    margin: auto;
    width: 150px;
    height: 150px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, .6);
    border-radius: 50%;
    position: relative;
}

.right-side p{
    position: absolute;
    top: 45%;
    left: -15%;
    text-transform: uppercase;
    font-size: 14px;
}

.fa-arrow-right-long{
    transform: translateX(20px);
}



}

@media (max-width: 400px) {
*{
    overflow-x: hidden;
}
.header{
    display:block;
}
.logo {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.logo::after{
    content: "\a";
    white-space: pre;
}
.navbar a {
    font-size: 13px;
    font-weight: 200;
    margin-left: 0px;
    padding: 10px 4px 0 0;
}
.navbar a::after{
    content: "\a";
    white-space: pre;
} 
.subtitle{
    font-size: 50px;
    text-align: center;
}
.container1 {
    width: 600px;
    max-height: 500px;
    padding: 20px;
    margin-left: 50px;
}
.container2 {
    width: 600px;
    max-height: 500px;
    padding: 10px;
    margin-left: 0px;
}
.radial-bar .text{
    left: 25%;
}
.bar .info .addhtml::before{
    content: "90%";
}
.bar .info .addcss::before{
    content: "80%";
}
.bar .info .addpy::before{
    content: "75%";
}
.bar .info .addjava::before{
    content: "50%";
}
.bar .info .addc::before{
    content: "50%";
}


}



#Skills{
    background-color: #000;
}
.subtitle {
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
    padding-top: 70px;
    
}

.subtitle span {
    color: rgb(248, 73, 34);
}

.sec {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
}

.container1 {
    width: 600px;
    max-height: 500px;
    padding: 10px;
    margin-left: 100px;
}
.container2 {
    width: 600px;
    max-height: 500px;
    padding: 10px;
    margin-left: 100px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 5px;
    margin-bottom: 0px;
}

.bar {
    font-size: 23px;
}

.Technical-bars .bar {
    margin-top: 40px 0;
    padding: 5px;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: rgb(255, 98, 20);
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 80%;
}

.progress-line.python span {
    width: 75%;
}

.progress-line.java span {
    width: 50%;
}

.progress-line.cpls span {
    width: 50%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "90%";
}

.progress-line.css span::after {
    content: "80%";
}

.progress-line.python span::after {
    content: "80%";
}

.progress-line.java span::after {
    content: "50%";
}

.progress-line.cpls span::after {
    content: "50%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

.path {
    stroke-width: 10;
    stroke: rgb(159, 248, 137);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

.radial-bar .percentage {
    position: absolute;
    align-items: center;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 15%;
    bottom: 5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

    .subtitle{
        font-size: 50px;
        text-align: center;
    }
    .container1 {
        width: 600px;
        max-height: 500px;
        padding: 20px;
        margin-left: 50px;
    }
    .container2 {
        width: 600px;
        max-height: 500px;
        padding: 10px;
        margin-left: 0px;
    }
    .bar .info .addhtml::before{
        content: "90%";
    }
    .bar .info .addcss::before{
        content: "80%";
    }
    .bar .info .addpy::before{
        content: "80%";
    }
    .bar .info .addjava::before{
        content: "50%";
    }
    .bar .info .addc::before{
        content: "50%";
    }

    
    .subtitle{
        font-size: 50px;
        text-align: center;
    }
    .container1 {
        width: 600px;
        max-height: 500px;
        padding: 20px;
        margin-left: 50px;
    }
    .container2 {
        width: 600px;
        max-height: 500px;
        padding: 10px;
        margin-left: 0px;
    }
    .radial-bar .text{
        left: 25%;
    }
    .bar .info .addhtml::before{
        content: "90%";
    }
    .bar .info .addcss::before{
        content: "80%";
    }
    .bar .info .addpy::before{
        content: "80%";
    }
    .bar .info .addjava::before{
        content: "50%";
    }
    .bar .info .addc::before{
        content: "50%";
    }
    @keyframes animate-path1 {
        100% {
            stroke-dashoffset: 180;
        }
    }
    
    @keyframes animate-path2 {
        100% {
            stroke-dashoffset: 140;
        }
    }
    
    @keyframes animate-path3 {
        100% {
            stroke-dashoffset: 90;
        }
    }
    
    @keyframes animate-path4 {
        100% {
            stroke-dashoffset: 50;
        }
    }
    
    @keyframes animate-bar {
        100% {
            stroke-dashoffset: -1;
        }
    }
    
    @keyframes showText {
        100% {
            opacity: 1;
        }
    }
    
    @keyframes animate {
    
        100% {
            transform: scaleX(1);
        }
    }
    
    @keyframes slideRight {
        0% {
            transform: translateX(-100px);
            opacity: 0;
        }
    
        100% {
            transform: translateX(0px);
            opacity: 1;
        }
    }
    
    @keyframes slideTop {
        0% {
            transform: translateX(100px);
            opacity: 0;
        }
    
        100% {
            transform: translateX(0px);
            opacity: 1;
        }
    }
    
    @keyframes slideBottom {
        0% {
            transform: translateX(-100px);
            opacity: 0;
        }
    
        100% {
            transform: translateX(0px);
            opacity: 1;
        }
    }
    
    @keyframes slideUP {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
    
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    

.contacts {
    display: grid;
    /*grid-template-columns: repeat (2, 1fr);*/
    align-items: center;
    gap: 3rem;
    padding: 40px;
    padding-top: 70px;
    justify-content: center;
    background-color: #000;
}

.contact-text {
    align-content: center;
}

.contact-text h2 {
    font-size: 60px;
    line-height: normal;
    text-align: center;

}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

/*.contact-text p{
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}*/
.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
    padding: 10px;
}


.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 0px 15px 0px 0;
    opacity: 1;
}

.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: black;
    font-weight: 300;
    margin-top: 0px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    left: 1rem;
    display: flex;
    opacity: 0;
    transition: all .4s;
}

.top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.top i{
    color: black;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

.top i:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,0 0 200px cyan;
}


.contacts h2{
    font-size: 50px;
}
.contact-list i{
    font-size: 15px;
    padding: 5px 5px 0 0;
}

.top{
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    transition: all .4s;
}

.contacts h2{
    font-size: 50px;
}
.contact-list i{
    font-size: 13px;
    padding: 5px 5px 0 0;
}

.top{
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    transition: all .4s;
}
.top i{
    color: #000;
}

